<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ETIX"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PINPage"
            android:exported="false" />
        <activity
            android:name=".terms_condition"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".addJadwalMovieAdmin"
            android:exported="false" />
        <activity
            android:name=".editMovieAdmin"
            android:exported="false" />
        <activity
            android:name=".editJadwalMovieAdmin"
            android:exported="false" />
        <activity
            android:name=".forgotPassword"
            android:exported="false" />
        <activity
            android:name=".detailTiket"
            android:exported="false" />
        <activity
            android:name=".selectSeat"
            android:exported="false" />
        <activity
            android:name=".adminPage"
            android:exported="false" />
        <activity
            android:name=".shortcutPageDev"
            android:exported="false" />
        <activity
            android:name=".selectStudio"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".detail_Film"
            android:exported="false" />
        <activity
            android:name=".Beranda"
            android:exported="false" /> <!--  -->
        <activity
            android:name=".updateProfile"
            android:label="Update Profile">
            <!-- Add any other necessary intent filters or configurations here -->
        </activity>
        <activity
            android:name=".changePassword"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>